{
  "extends": [
    "standard",
    "standard-react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": false
  },
  "plugins": [
    "react",
    "import",
    "node",
    "promise",
    "standard"
  ],
  "rules": {
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "react/jsx-tag-spacing": [1, {"closingSlash": "never", "beforeSelfClosing": "allow", "afterOpening": "never"}],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  }
}
